{% extends "infos/main.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
   <p>Contact to {{name}}</p>
  <form  action="" method="GET">
    <table>
     <tr><td>
      <label for="name2">Name:</label>
    </td><td>
      <input type="text" name="name" id="name2" required size=40><br>
    </td>
    </tr>
    <tr>
    <td>
      <label for="email2">Email address:</label>
    </td><td>
      <input type="email" id="email2" name="email" size=40 required><br>
    </td>
    </tr>
    <tr>
  <td>
      <label for="phone2">Phone:</label>
    </td><td>
      <input type="tel" id="phone2" size=40 name="phone"><br>
    </td>
    </tr>
  <tr>
    <td>
      <label for="message2">Message:</label>
    </td>
    <td>
      <textarea name="message" maxlength="1000" id="message2" rows="10"  cols="50"  required></textarea><br>
    </td>
  </tr>  
   <tr>  <td></td><td><input type="submit" id="submit2" value="Send message"></td>
      
    </tr>
    </table>
</form>

{% endblock %}